[submodule "IT2805-Webteknologi"]
	path = IT2805-Webteknologi
	url = https://github.com/MartinBraaten/IT2805-Webteknologi.git
[submodule "TDT4100-OOP"]
	path = TDT4100-OOP
	url = https://github.com/MartinBraaten/TDT4100-OOP.git
[submodule "TDT4160-Datamaskiner-og-digitalteknikk"]
	path = TDT4160-Datamaskiner-og-digitalteknikk
	url = https://github.com/MartinBraaten/TDT4160-Datamaskiner-og-digitalteknikk.git
[submodule "TDT4145-Datamodellering-og-Databasesystemer"]
	path = TDT4145-Datamodellering-og-Databasesystemer
	url = https://github.com/MartinBraaten/TDT4145-Datamodellering-og-Databasesystemer.git
[submodule "TKT4201-Konstruksjonsdynamikk"]
	path = TKT4201-Konstruksjonsdynamikk
	url = https://github.com/MartinBraaten/TKT4201-Konstruksjonsdynamikk.git
[submodule "TKT4950-Konstruksjonsteknikk-masteroppgave"]
	path = TKT4950-Konstruksjonsteknikk-masteroppgave
	url = https://github.com/MartinBraaten/TKT4950-Konstruksjonsteknikk-masteroppgave.git
[submodule "TTM4100-KTN"]
	path = TTM4100-KTN
	url = https://github.com/MartinBraaten/TTM4100-KTN.git
[submodule "TDT4120-AlgDat"]
	path = TDT4120-AlgDat
	url = https://github.com/MartinBraaten/TDT4120-AlgDat
[submodule "TKT4140-Numeriske-Beregninger"]
	path = TKT4140-Numeriske-Beregninger
	url = https://github.com/MartinBraaten/TKT4140-Numeriske-Beregninger
[submodule "TDT4109-ITGK"]
	path = TDT4109-ITGK
	url = https://github.com/MartinBraaten/TDT4109-ITGK
[submodule "IT2810-Webdev"]
	path = IT2810-Webdev
	url = https://github.com/MartinBraaten/IT2810-Webdev
