#calendar {
    width: 400px;
    height: 150px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#light #calendar {
    background-color: #fff;
}

#dark #calendar {
    background-color: #263c47;
}
#flexFilterIssueSortDiv {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
#dropdownDateInput {
    border: 2px solid #00b188;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    line-height: 50px;
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#dropDownDateButton {
    border: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 100px;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#light #dropDownDateButton {
    background-color: #00b188;
}

#dark #dropDownDateButton {
    background-color: #345160;
}

#light #dropDownDateButton:hover {
    background-color: #01C698;
}

#dropDownDateButton:hover {
    cursor: pointer;
}

#dark #dropDownDateButton:hover {
    background-color: #415f6f;
}

#outerFilterIssueSortBox {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#light #outerFilterIssueSortBox {
    background-color: #00b188;
}

#dark #outerFilterIssueSortBox {
    background-color: #345160;
}

#outerFilterIssueSortBox:hover {
    cursor: default;
}

#outerFilterIssueSortBox h1 {
    width: 100px;
    font-size: 25px;
    line-height: 50px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0;
}

#innerBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#innerBox:hover {
    cursor: pointer;
}

#light #innerBox {
    background-color: #01C698;
}

#dark #innerBox {
    background-color: #263c47;
}

#innerBox img {
    width: 30px;
    margin: auto;
}

#outerFilterIssueSortBox:hover #innerBox {
    background-color: #03d4a3;
    transition: 300ms;
}

#light #outerFilterIssueSortBox:hover #innerBox {
    background-color: #03d4a3;
}


@media screen and (max-width: 880px) {
    #outerFilterIssueSortBox {
        width: 120px;
        height: 40px;
    }
    #innerBox {
        width: 40px;
        height: 40px;
    }
    #innerBox img {
        width: 24px;
    }
    #outerFilterIssueSortBox h1 {
        width: 80px;
        font-size: 20px;
        line-height: 40px;
    }
    #dropDownDateButton {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
    #dropdownDateInput {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        width: 250px;
    }
    #calendar {
        width: 325px;
    }
    #flexFilterIssueSortDiv {
        width: 325px;
    }
}

@media screen and (max-width: 740px) {
    #outerFilterIssueSortBox {
        width: 100px;
        height: 35px;
    }
    #innerBox {
        width: 35px;
        height: 35px;
    }
    #innerBox img {
        width: 21px;
    }
    #outerFilterIssueSortBox h1 {
        width: 65px;
        font-size: 18px;
        line-height: 35px;
    }
    #dropDownDateButton {
        height: 35px;
        font-size: 18px;
        line-height: 35px;
        width: 90px;
    }
    #dropdownDateInput {
        height: 35px;
        font-size: 18px;
        line-height: 35px;
        width: 200px;
    }
    #calendar {
        width: 275px;
    }
    #flexFilterIssueSortDiv {
        width: 275px;
    }
}

@media screen and (max-width: 650px) {
    #outerFilterIssueSortBox {
        width: 80px;
        height: 30px;
    }
    #innerBox {
        width: 30px;
        height: 30px;
    }
    #innerBox img {
        width: 18px;
    }
    #outerFilterIssueSortBox h1 {
        width: 50px;
        font-size: 15px;
        line-height: 30px;
    }
    #dropDownDateButton {
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        width: 80px;
    }
    #dropdownDateInput {
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        width: 150px;
    }
    #calendar {
        width: 200px;
        height: 125px;
    }
    #flexFilterIssueSortDiv {
        width: 200px;
        height: 125px;
    }
}
@media screen and (max-width: 600px) {
    #outerFilterIssueSortBox {
        width: 100px;
        height: 40px;
    }
    #innerBox {
        width: 35px;
        height: 40px;
    }
    #innerBox img {
        width: 21px;
    }
    #outerFilterIssueSortBox h1 {
        width: 65px;
        font-size: 18px;
        line-height: 40px;
    }
    #dropDownDateButton {
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        width: 90px;
    }
    #dropdownDateInput {
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        width: 200px;
    }
    #calendar {
        width: 275px;
    }
    #flexFilterIssueSortDiv {
        width: 275px;
    }
}
