#button {
    border: none;
    height: 50px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 90px;
    font-size: 25px;
    line-height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#light #button {
    background-color: #00b188;
}

#dark #button {
    background-color: #345160;
}

#light #button:hover {
    background-color: #01C698;
}

#button:hover {
    cursor: pointer;
}

#dark #button:hover {
    background-color: #415f6f;
}


@media screen and (max-width: 880px) {
    #button {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
}

@media screen and (max-width: 740px) {
    #button {
        height: 35px;
        font-size: 18px;
        line-height: 35px;
    }
}

@media screen and (max-width: 650px) {
    #button {
        height: 30px;
        font-size: 15px;
        line-height: 30px;
    }
}

@media screen and (max-width: 600px) {
    #button {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
}
